<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Full-width gallery</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <script src="3ts2ksMwXvKRuG480KNifJ2_JNM.js" tppabs="https://livedemo00.template-help.com/cdn-cgi/apps/head/3ts2ksMwXvKRuG480KNifJ2_JNM.js"></script><link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="css-family=Poppins-400,500,600-Teko-300,400,500-Maven+Pro-500.css" tppabs="https://fonts.googleapis.com/css?family=Poppins:400,500,600%7CTeko:300,400,500%7CMaven+Pro:500">
    <link rel="stylesheet" href="bootstrap.css" tppabs="https://livedemo00.template-help.com/wt_prod-18959/css/bootstrap.css">
    <link rel="stylesheet" href="fonts.css" tppabs="https://livedemo00.template-help.com/wt_prod-18959/css/fonts.css">
    <link rel="stylesheet" href="style.css" tppabs="https://livedemo00.template-help.com/wt_prod-18959/css/style.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="ie-panel"><a href="javascript:if(confirm('http://windows.microsoft.com/en-US/internet-explorer/  \n\n该文件无法用 Teleport Ultra 下载, 因为 它是一个域或路径外部被设置为它的启始地址的地址。  \n\n你想在服务器上打开它?'))window.location='http://windows.microsoft.com/en-US/internet-explorer/'" tppabs="http://windows.microsoft.com/en-US/internet-explorer/"><img src="warning_bar_0000_us.jpg" tppabs="https://livedemo00.template-help.com/wt_prod-18959/images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container"><span></span><span></span><span></span><span></span>
        </div>
      </div>
    </div>
    <div class="page">
      <!-- Page Header-->
      <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!-- RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand"><a class="brand" href="index.html" tppabs="https://livedemo00.template-help.com/wt_prod-18959/index.html"><img src="logo-default-191x52.png" tppabs="https://livedemo00.template-help.com/wt_prod-18959/images/logo-default-191x52.png" alt="" width="191" height="52"/></a></div>
                </div>
                <div class="rd-navbar-main-element">
                  <div class="rd-navbar-nav-wrap">
                    <!-- RD Navbar Search-->
                    <div class="rd-navbar-search">
                      <button class="rd-navbar-search-toggle" data-rd-navbar-toggle=".rd-navbar-search"><span></span></button>
                      <form class="rd-search" action="https://livedemo00.template-help.com/wt_prod-18959/search-results.html" data-search-live="rd-search-results-live" method="GET">
                        <div class="form-wrap">
                          <label class="form-label" for="rd-navbar-search-form-input">Search...</label>
                          <input class="rd-navbar-search-form-input form-input" id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off"/>
                          <div class="rd-search-results-live" id="rd-search-results-live"></div>
                        </div>
                        <button class="rd-search-form-submit fl-bigmug-line-search74" type="submit"></button>
                      </form>
                    </div>
                    <!-- RD Navbar Share-->
                    <div class="rd-navbar-share">
                      <div class="rd-navbar-share-icon fl-bigmug-line-share27" data-rd-navbar-toggle=".rd-navbar-share-list"></div>
                      <ul class="list-inline rd-navbar-share-list">
                        <li class="rd-navbar-share-list-item"><a class="icon fa fa-facebook" href="#"></a></li>
                        <li class="rd-navbar-share-list-item"><a class="icon fa fa-twitter" href="#"></a></li>
                        <li class="rd-navbar-share-list-item"><a class="icon fa fa-google-plus" href="#"></a></li>
                        <li class="rd-navbar-share-list-item"><a class="icon fa fa-instagram" href="#"></a></li>
                      </ul>
                    </div>
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item"><a class="rd-nav-link" href="index.html" tppabs="https://livedemo00.template-help.com/wt_prod-18959/index.html">Home</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="about-us.html" tppabs="https://livedemo00.template-help.com/wt_prod-18959/about-us.html">About Us</a>
                      </li>
                      <li class="rd-nav-item active"><a class="rd-nav-link" href="grid-gallery.html" tppabs="https://livedemo00.template-help.com/wt_prod-18959/grid-gallery.html">Gallery</a>
                        <!-- RD Navbar Dropdown-->
                        <ul class="rd-menu rd-navbar-dropdown">
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="full-width-gallery.html" tppabs="https://livedemo00.template-help.com/wt_prod-18959/full-width-gallery.html">Full width Gallery</a></li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="grid-gallery.html" tppabs="https://livedemo00.template-help.com/wt_prod-18959/grid-gallery.html">Grid Gallery</a></li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="full-width-masonry-gallery.html" tppabs="https://livedemo00.template-help.com/wt_prod-18959/full-width-masonry-gallery.html">Full Width Masonry Gallery</a></li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="masonry-gallery.html" tppabs="https://livedemo00.template-help.com/wt_prod-18959/masonry-gallery.html">Masonry Gallery</a></li>
                        </ul>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="pricing.html" tppabs="https://livedemo00.template-help.com/wt_prod-18959/pricing.html">Pricing</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="classic-blog.html" tppabs="https://livedemo00.template-help.com/wt_prod-18959/classic-blog.html">Blog</a>
                        <!-- RD Navbar Dropdown-->
                        <ul class="rd-menu rd-navbar-dropdown">
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="classic-blog.html" tppabs="https://livedemo00.template-help.com/wt_prod-18959/classic-blog.html">Classic Blog</a></li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="grid-blog.html" tppabs="https://livedemo00.template-help.com/wt_prod-18959/grid-blog.html">Grid Blog</a></li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="grid-blog-2.html" tppabs="https://livedemo00.template-help.com/wt_prod-18959/grid-blog-2.html">Grid Blog 2</a></li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="grid-blog-3.html" tppabs="https://livedemo00.template-help.com/wt_prod-18959/grid-blog-3.html">Grid Blog 3</a></li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="blog-post.html" tppabs="https://livedemo00.template-help.com/wt_prod-18959/blog-post.html">Blog Post</a></li>
                        </ul>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="contact-us.html" tppabs="https://livedemo00.template-help.com/wt_prod-18959/contact-us.html">Contact Us</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="#">Pages</a>
                        <!-- RD Navbar Megamenu-->
                        <ul class="rd-menu rd-navbar-megamenu">
                          <li class="rd-megamenu-item">
                            <div>
                              <h5 class="rd-megamenu-title">Elements</h5>
                              <ul class="rd-megamenu-list">
                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="typography.html" tppabs="https://livedemo00.template-help.com/wt_prod-18959/typography.html">Typography</a></li>
                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="icons-with-text.html" tppabs="https://livedemo00.template-help.com/wt_prod-18959/icons-with-text.html">Icons with Text</a></li>
                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="buttons.html" tppabs="https://livedemo00.template-help.com/wt_prod-18959/buttons.html">Buttons</a></li>
                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="counters.html" tppabs="https://livedemo00.template-help.com/wt_prod-18959/counters.html">Counters</a></li>
                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="forms.html" tppabs="https://livedemo00.template-help.com/wt_prod-18959/forms.html">Forms</a></li>
                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="calls-to-action.html" tppabs="https://livedemo00.template-help.com/wt_prod-18959/calls-to-action.html">Calls to Action</a></li>
                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="progress-bars.html" tppabs="https://livedemo00.template-help.com/wt_prod-18959/progress-bars.html">Progress Bars</a></li>
                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="tabs-and-accordions.html" tppabs="https://livedemo00.template-help.com/wt_prod-18959/tabs-and-accordions.html">Tabs and Accordions</a></li>
                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="hover-effects.html" tppabs="https://livedemo00.template-help.com/wt_prod-18959/hover-effects.html">Hover Effects</a></li>
                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="grid-system.html" tppabs="https://livedemo00.template-help.com/wt_prod-18959/grid-system.html">Grid System</a></li>
                              </ul>
                            </div>
                          </li>
                          <li class="rd-megamenu-item">
                            <div>
                              <h5 class="rd-megamenu-title">Additional pages</h5>
                              <ul class="rd-megamenu-list">
                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="services.html" tppabs="https://livedemo00.template-help.com/wt_prod-18959/services.html">Services</a></li>
                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="services-2.html" tppabs="https://livedemo00.template-help.com/wt_prod-18959/services-2.html">Services 2</a></li>
                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="single-service.html" tppabs="https://livedemo00.template-help.com/wt_prod-18959/single-service.html">Single Service</a></li>
                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="our-team.html" tppabs="https://livedemo00.template-help.com/wt_prod-18959/our-team.html">Our Team</a></li>
                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="testimonials.html" tppabs="https://livedemo00.template-help.com/wt_prod-18959/testimonials.html">Testimonials</a></li>
                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="404-page.html" tppabs="https://livedemo00.template-help.com/wt_prod-18959/404-page.html">404 Page</a></li>
                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="503-page.html" tppabs="https://livedemo00.template-help.com/wt_prod-18959/503-page.html">503 Page</a></li>
                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="pricing.html" tppabs="https://livedemo00.template-help.com/wt_prod-18959/pricing.html">Pricing</a></li>
                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="coming-soon.html" tppabs="https://livedemo00.template-help.com/wt_prod-18959/coming-soon.html">Coming Soon</a></li>
                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="contact-us-2.html" tppabs="https://livedemo00.template-help.com/wt_prod-18959/contact-us-2.html">Contact Us 2</a></li>
                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="faq.html" tppabs="https://livedemo00.template-help.com/wt_prod-18959/faq.html">FAQ</a></li>
                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="search-results.html" tppabs="https://livedemo00.template-help.com/wt_prod-18959/search-results.html">Search results</a></li>
                              </ul>
                            </div>
                          </li>
                          <li class="rd-megamenu-item rd-megamenu-carousel">
                            <div>
                              <h5 class="rd-megamenu-title">Recent projects</h5>
                              <!-- Owl Carousel-->
                              <div class="owl-carousel owl-navbar" data-items="1" data-xl-items="2" data-xxl-items="3" data-margin="16" data-dots="true" data-autoplay="false" data-loop="false">
                                <!-- Thumbnail Classic-->
                                <article class="thumbnail thumbnail-mary thumbnail-xxs">
                                  <div class="thumbnail-mary-figure"><img src="navbar-1-272x288.jpg" tppabs="https://livedemo00.template-help.com/wt_prod-18959/images/navbar-1-272x288.jpg" alt="" width="272" height="288"/>
                                  </div>
                                  <div class="thumbnail-mary-caption"><a class="icon fl-bigmug-line-zoom60" href="grid-gallery-1-1200x800-original.jpg" tppabs="https://livedemo00.template-help.com/wt_prod-18959/images/grid-gallery-1-1200x800-original.jpg" data-lightgallery="item"><img src="navbar-1-272x288.jpg" tppabs="https://livedemo00.template-help.com/wt_prod-18959/images/navbar-1-272x288.jpg" alt="" width="272" height="288"/></a>
                                    <h6 class="thumbnail-mary-title"><a href="#">Project #1</a></h6>
                                  </div>
                                </article>
                                <!-- Thumbnail Classic-->
                                <article class="thumbnail thumbnail-mary thumbnail-xxs">
                                  <div class="thumbnail-mary-figure"><img src="navbar-2-272x288.jpg" tppabs="https://livedemo00.template-help.com/wt_prod-18959/images/navbar-2-272x288.jpg" alt="" width="272" height="288"/>
                                  </div>
                                  <div class="thumbnail-mary-caption"><a class="icon fl-bigmug-line-zoom60" href="grid-gallery-2-1200x800-original.jpg" tppabs="https://livedemo00.template-help.com/wt_prod-18959/images/grid-gallery-2-1200x800-original.jpg" data-lightgallery="item"><img src="navbar-2-272x288.jpg" tppabs="https://livedemo00.template-help.com/wt_prod-18959/images/navbar-2-272x288.jpg" alt="" width="272" height="288"/></a>
                                    <h6 class="thumbnail-mary-title"><a href="#">Project #2</a></h6>
                                  </div>
                                </article>
                                <!-- Thumbnail Classic-->
                                <article class="thumbnail thumbnail-mary thumbnail-xxs">
                                  <div class="thumbnail-mary-figure"><img src="navbar-3-272x288.jpg" tppabs="https://livedemo00.template-help.com/wt_prod-18959/images/navbar-3-272x288.jpg" alt="" width="272" height="288"/>
                                  </div>
                                  <div class="thumbnail-mary-caption"><a class="icon fl-bigmug-line-zoom60" href="grid-gallery-4-1200x800-original.jpg" tppabs="https://livedemo00.template-help.com/wt_prod-18959/images/grid-gallery-4-1200x800-original.jpg" data-lightgallery="item"><img src="navbar-3-272x288.jpg" tppabs="https://livedemo00.template-help.com/wt_prod-18959/images/navbar-3-272x288.jpg" alt="" width="272" height="288"/></a>
                                    <h6 class="thumbnail-mary-title"><a href="#">Project #3</a></h6>
                                  </div>
                                </article>
                                <!-- Thumbnail Classic-->
                                <article class="thumbnail thumbnail-mary thumbnail-xxs">
                                  <div class="thumbnail-mary-figure"><img src="navbar-4-272x288.jpg" tppabs="https://livedemo00.template-help.com/wt_prod-18959/images/navbar-4-272x288.jpg" alt="" width="272" height="288"/>
                                  </div>
                                  <div class="thumbnail-mary-caption"><a class="icon fl-bigmug-line-zoom60" href="grid-gallery-3-1200x800-original.jpg" tppabs="https://livedemo00.template-help.com/wt_prod-18959/images/grid-gallery-3-1200x800-original.jpg" data-lightgallery="item"><img src="navbar-4-272x288.jpg" tppabs="https://livedemo00.template-help.com/wt_prod-18959/images/navbar-4-272x288.jpg" alt="" width="272" height="288"/></a>
                                    <h6 class="thumbnail-mary-title"><a href="#">Project #4</a></h6>
                                  </div>
                                </article>
                                <!-- Thumbnail Classic-->
                                <article class="thumbnail thumbnail-mary thumbnail-xxs">
                                  <div class="thumbnail-mary-figure"><img src="navbar-5-272x288.jpg" tppabs="https://livedemo00.template-help.com/wt_prod-18959/images/navbar-5-272x288.jpg" alt="" width="272" height="288"/>
                                  </div>
                                  <div class="thumbnail-mary-caption"><a class="icon fl-bigmug-line-zoom60" href="grid-gallery-5-1200x800-original.jpg" tppabs="https://livedemo00.template-help.com/wt_prod-18959/images/grid-gallery-5-1200x800-original.jpg" data-lightgallery="item"><img src="navbar-5-272x288.jpg" tppabs="https://livedemo00.template-help.com/wt_prod-18959/images/navbar-5-272x288.jpg" alt="" width="272" height="288"/></a>
                                    <h6 class="thumbnail-mary-title"><a href="#">Project #5</a></h6>
                                  </div>
                                </article>
                                <!-- Thumbnail Classic-->
                                <article class="thumbnail thumbnail-mary thumbnail-xxs">
                                  <div class="thumbnail-mary-figure"><img src="navbar-6-272x288.jpg" tppabs="https://livedemo00.template-help.com/wt_prod-18959/images/navbar-6-272x288.jpg" alt="" width="272" height="288"/>
                                  </div>
                                  <div class="thumbnail-mary-caption"><a class="icon fl-bigmug-line-zoom60" href="grid-gallery-6-1200x800-original.jpg" tppabs="https://livedemo00.template-help.com/wt_prod-18959/images/grid-gallery-6-1200x800-original.jpg" data-lightgallery="item"><img src="navbar-6-272x288.jpg" tppabs="https://livedemo00.template-help.com/wt_prod-18959/images/navbar-6-272x288.jpg" alt="" width="272" height="288"/></a>
                                    <h6 class="thumbnail-mary-title"><a href="#">Project #6</a></h6>
                                  </div>
                                </article>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Breadcrumbs -->
      <section class="breadcrumbs-custom-inset">
        <div class="breadcrumbs-custom">
          <div class="container">
            <h1 class="breadcrumbs-custom-title">Full-width gallery</h1>
            <ul class="breadcrumbs-custom-path">
              <li><a href="index.html" tppabs="https://livedemo00.template-help.com/wt_prod-18959/index.html">Home</a></li>
              <li><a href="grid-gallery.html" tppabs="https://livedemo00.template-help.com/wt_prod-18959/grid-gallery.html">Gallery</a></li>
              <li class="active">Full-width gallery</li>
            </ul>
          </div>
          <div class="box-position" style="background-image: url(images/bg-elements.jpg);"></div>
        </div>
      </section>
      <!-- Grid Gallery-->
      <section class="section section-xl section-fluid bg-default text-center">
        <div class="container-fluid isotope-wrap">
          <div class="isotope-filters isotope-filters-horizontal">
            <button class="isotope-filters-toggle button button-md button-icon button-icon-right button-default-outline button-wapasha" data-custom-toggle="#isotope-3" data-custom-toggle-hide-on-blur="true" data-custom-toggle-disable-on-blur="true"><span class="icon fa fa-caret-down"></span>Filter</button>
            <ul class="isotope-filters-list" id="isotope-3">
              <li><a class="active" href="#" data-isotope-filter="*" data-isotope-group="gallery">All</a></li>
              <li><a href="#" data-isotope-filter="Type 1" data-isotope-group="gallery">mobile Apps</a></li>
              <li><a href="#" data-isotope-filter="Type 2" data-isotope-group="gallery">Custom Software</a></li>
              <li><a href="#" data-isotope-filter="Type 3" data-isotope-group="gallery">QA & Testing</a></li>
              <li><a href="#" data-isotope-filter="Type 4" data-isotope-group="gallery">UX and Design</a></li>
            </ul>
          </div>
          <div class="row row-30 isotope" data-isotope-layout="fitRows" data-isotope-group="gallery" data-lightgallery="group">
            <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInLeft" data-filter="Type 3">
              <!-- Thumbnail Classic-->
              <article class="thumbnail thumbnail-classic thumbnail-md">
                <div class="thumbnail-classic-figure"><img src="fullwidth-gallery-1-420x350.jpg" tppabs="https://livedemo00.template-help.com/wt_prod-18959/images/fullwidth-gallery-1-420x350.jpg" alt="" width="420" height="350"/>
                </div>
                <div class="thumbnail-classic-caption">
                  <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-zoom60" href="grid-gallery-1-1200x800-original.jpg" tppabs="https://livedemo00.template-help.com/wt_prod-18959/images/grid-gallery-1-1200x800-original.jpg" data-lightgallery="item"><img src="fullwidth-gallery-1-420x350.jpg" tppabs="https://livedemo00.template-help.com/wt_prod-18959/images/fullwidth-gallery-1-420x350.jpg" alt="" width="420" height="350"/></a>
                    <h5 class="thumbnail-classic-title"><a href="#">FinStep</a></h5>
                  </div>
                  <p class="thumbnail-classic-text">We work hard on every app to deliver top-notch features with great UI that you won鈥檛 find anywhere else.</p>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInLeft" data-filter="Type 1" data-wow-delay=".1s">
              <!-- Thumbnail Classic-->
              <article class="thumbnail thumbnail-classic thumbnail-md">
                <div class="thumbnail-classic-figure"><img src="fullwidth-gallery-2-420x350.jpg" tppabs="https://livedemo00.template-help.com/wt_prod-18959/images/fullwidth-gallery-2-420x350.jpg" alt="" width="420" height="350"/>
                </div>
                <div class="thumbnail-classic-caption">
                  <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-zoom60" href="grid-gallery-2-1200x800-original.jpg" tppabs="https://livedemo00.template-help.com/wt_prod-18959/images/grid-gallery-2-1200x800-original.jpg" data-lightgallery="item"><img src="fullwidth-gallery-2-420x350.jpg" tppabs="https://livedemo00.template-help.com/wt_prod-18959/images/fullwidth-gallery-2-420x350.jpg" alt="" width="420" height="350"/></a>
                    <h5 class="thumbnail-classic-title"><a href="#">Mobile Finance</a></h5>
                  </div>
                  <p class="thumbnail-classic-text">We work hard on every app to deliver top-notch features with great UI that you won鈥檛 find anywhere else.</p>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInLeft" data-filter="Type 2" data-wow-delay=".2s">
              <!-- Thumbnail Classic-->
              <article class="thumbnail thumbnail-classic thumbnail-md">
                <div class="thumbnail-classic-figure"><img src="fullwidth-gallery-3-420x350.jpg" tppabs="https://livedemo00.template-help.com/wt_prod-18959/images/fullwidth-gallery-3-420x350.jpg" alt="" width="420" height="350"/>
                </div>
                <div class="thumbnail-classic-caption">
                  <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-zoom60" href="grid-gallery-3-1200x800-original.jpg" tppabs="https://livedemo00.template-help.com/wt_prod-18959/images/grid-gallery-3-1200x800-original.jpg" data-lightgallery="item"><img src="fullwidth-gallery-3-420x350.jpg" tppabs="https://livedemo00.template-help.com/wt_prod-18959/images/fullwidth-gallery-3-420x350.jpg" alt="" width="420" height="350"/></a>
                    <h5 class="thumbnail-classic-title"><a href="#">Q-Manage</a></h5>
                  </div>
                  <p class="thumbnail-classic-text">We work hard on every app to deliver top-notch features with great UI that you won鈥檛 find anywhere else.</p>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInLeft" data-filter="Type 3" data-wow-delay=".3s">
              <!-- Thumbnail Classic-->
              <article class="thumbnail thumbnail-classic thumbnail-md">
                <div class="thumbnail-classic-figure"><img src="fullwidth-gallery-4-420x350.jpg" tppabs="https://livedemo00.template-help.com/wt_prod-18959/images/fullwidth-gallery-4-420x350.jpg" alt="" width="420" height="350"/>
                </div>
                <div class="thumbnail-classic-caption">
                  <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-zoom60" href="grid-gallery-4-1200x800-original.jpg" tppabs="https://livedemo00.template-help.com/wt_prod-18959/images/grid-gallery-4-1200x800-original.jpg" data-lightgallery="item"><img src="fullwidth-gallery-4-420x350.jpg" tppabs="https://livedemo00.template-help.com/wt_prod-18959/images/fullwidth-gallery-4-420x350.jpg" alt="" width="420" height="350"/></a>
                    <h5 class="thumbnail-classic-title"><a href="#">WeatherCast</a></h5>
                  </div>
                  <p class="thumbnail-classic-text">We work hard on every app to deliver top-notch features with great UI that you won鈥檛 find anywhere else.</p>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInRight" data-filter="Type 4">
              <!-- Thumbnail Classic-->
              <article class="thumbnail thumbnail-classic thumbnail-md">
                <div class="thumbnail-classic-figure"><img src="fullwidth-gallery-5-420x350.jpg" tppabs="https://livedemo00.template-help.com/wt_prod-18959/images/fullwidth-gallery-5-420x350.jpg" alt="" width="420" height="350"/>
                </div>
                <div class="thumbnail-classic-caption">
                  <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-zoom60" href="grid-gallery-5-1200x800-original.jpg" tppabs="https://livedemo00.template-help.com/wt_prod-18959/images/grid-gallery-5-1200x800-original.jpg" data-lightgallery="item"><img src="fullwidth-gallery-5-420x350.jpg" tppabs="https://livedemo00.template-help.com/wt_prod-18959/images/fullwidth-gallery-5-420x350.jpg" alt="" width="420" height="350"/></a>
                    <h5 class="thumbnail-classic-title"><a href="#">Home Calendar</a></h5>
                  </div>
                  <p class="thumbnail-classic-text">We work hard on every app to deliver top-notch features with great UI that you won鈥檛 find anywhere else.</p>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInRight" data-filter="Type 1" data-wow-delay=".1s">
              <!-- Thumbnail Classic-->
              <article class="thumbnail thumbnail-classic thumbnail-md">
                <div class="thumbnail-classic-figure"><img src="fullwidth-gallery-6-420x350.jpg" tppabs="https://livedemo00.template-help.com/wt_prod-18959/images/fullwidth-gallery-6-420x350.jpg" alt="" width="420" height="350"/>
                </div>
                <div class="thumbnail-classic-caption">
                  <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-zoom60" href="grid-gallery-6-1200x800-original.jpg" tppabs="https://livedemo00.template-help.com/wt_prod-18959/images/grid-gallery-6-1200x800-original.jpg" data-lightgallery="item"><img src="fullwidth-gallery-6-420x350.jpg" tppabs="https://livedemo00.template-help.com/wt_prod-18959/images/fullwidth-gallery-6-420x350.jpg" alt="" width="420" height="350"/></a>
                    <h5 class="thumbnail-classic-title"><a href="#">MPlanner</a></h5>
                  </div>
                  <p class="thumbnail-classic-text">We work hard on every app to deliver top-notch features with great UI that you won鈥檛 find anywhere else.</p>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInRight" data-filter="Type 2" data-wow-delay=".2s">
              <!-- Thumbnail Classic-->
              <article class="thumbnail thumbnail-classic thumbnail-md">
                <div class="thumbnail-classic-figure"><img src="fullwidth-gallery-7-420x350.jpg" tppabs="https://livedemo00.template-help.com/wt_prod-18959/images/fullwidth-gallery-7-420x350.jpg" alt="" width="420" height="350"/>
                </div>
                <div class="thumbnail-classic-caption">
                  <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-zoom60" href="grid-gallery-7-1200x800-original.jpg" tppabs="https://livedemo00.template-help.com/wt_prod-18959/images/grid-gallery-7-1200x800-original.jpg" data-lightgallery="item"><img src="fullwidth-gallery-7-420x350.jpg" tppabs="https://livedemo00.template-help.com/wt_prod-18959/images/fullwidth-gallery-7-420x350.jpg" alt="" width="420" height="350"/></a>
                    <h5 class="thumbnail-classic-title"><a href="#">Alice Messenger</a></h5>
                  </div>
                  <p class="thumbnail-classic-text">We work hard on every app to deliver top-notch features with great UI that you won鈥檛 find anywhere else.</p>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInRight" data-filter="Type 3" data-wow-delay=".3s">
              <!-- Thumbnail Classic-->
              <article class="thumbnail thumbnail-classic thumbnail-md">
                <div class="thumbnail-classic-figure"><img src="fullwidth-gallery-8-420x350.jpg" tppabs="https://livedemo00.template-help.com/wt_prod-18959/images/fullwidth-gallery-8-420x350.jpg" alt="" width="420" height="350"/>
                </div>
                <div class="thumbnail-classic-caption">
                  <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-zoom60" href="grid-gallery-8-1200x800-original.jpg" tppabs="https://livedemo00.template-help.com/wt_prod-18959/images/grid-gallery-8-1200x800-original.jpg" data-lightgallery="item"><img src="fullwidth-gallery-8-420x350.jpg" tppabs="https://livedemo00.template-help.com/wt_prod-18959/images/fullwidth-gallery-8-420x350.jpg" alt="" width="420" height="350"/></a>
                    <h5 class="thumbnail-classic-title"><a href="#">WiseMoney</a></h5>
                  </div>
                  <p class="thumbnail-classic-text">We work hard on every app to deliver top-notch features with great UI that you won鈥檛 find anywhere else.</p>
                </div>
              </article>
            </div>
          </div>
          <div class="button-wrap">
            <button class="button button-md button-default-outline button-wapasha">Load More</button>
          </div>
        </div>
      </section>

      <!-- Page Footer-->
      <footer class="section section-fluid footer-classic">
        <div class="container-fluid bg-gray-15">
          <div class="row justify-content-center row-30">
            <div class="col-md-10 col-lg-12 col-xl-4 wow fadeInRight">
              <div class="box-footer box-footer-small">
                <div class="footer-brand"><a href="index.html" tppabs="https://livedemo00.template-help.com/wt_prod-18959/index.html"><img src="logo-inverse-191x52.png" tppabs="https://livedemo00.template-help.com/wt_prod-18959/images/logo-inverse-191x52.png" alt="" width="191" height="52"/></a></div>
                <p class="text-width-medium">Our company has been developing high-quality and reliable software for corporate needs since 2008. We are renowned professionals of software development.</p>
                <div class="contact-classic">
                  <div class="contact-classic-item">
                    <div class="unit unit-spacing-md align-items-center">
                      <div class="unit-left">
                        <h6 class="contact-classic-title">Address</h6>
                      </div>
                      <div class="unit-body contact-classic-link"><a href="#">4730 Crystal Springs Dr, Los Angeles, CA 90027</a></div>
                    </div>
                  </div>
                  <div class="contact-classic-item">
                    <div class="unit unit-spacing-md align-items-center">
                      <div class="unit-left">
                        <h6 class="contact-classic-title">Phones</h6>
                      </div>
                      <div class="unit-body contact-classic-link"><a href="tel:#">+1 323-913-4688</a>, <a href="tel:#"> +1 323-888-4554</a>
                      </div>
                    </div>
                  </div>
                  <div class="contact-classic-item">
                    <div class="unit unit-spacing-md align-items-center">
                      <div class="unit-left">
                        <h6 class="contact-classic-title">E-mails</h6>
                      </div>
                      <div class="unit-body contact-classic-link"><a href="javascript:if(confirm('https://livedemo00.template-help.com/cdn-cgi/l/email-protection  \n\n该文件无法用 Teleport Ultra 下载, 因为 它是一个域或路径外部被设置为它的启始地址的地址。  \n\n你想在服务器上打开它?'))window.location='https://livedemo00.template-help.com/cdn-cgi/l/email-protection#486b'" tppabs="https://livedemo00.template-help.com/cdn-cgi/l/email-protection#486b"> <span class="__cf_email__" data-cfemail="026b6c646d4266676f6d6e6b6c692c6d7065">[email&#160;protected]</span></a>, <a href="javascript:if(confirm('https://livedemo00.template-help.com/cdn-cgi/l/email-protection  \n\n该文件无法用 Teleport Ultra 下载, 因为 它是一个域或路径外部被设置为它的启始地址的地址。  \n\n你想在服务器上打开它?'))window.location='https://livedemo00.template-help.com/cdn-cgi/l/email-protection#9fbc'" tppabs="https://livedemo00.template-help.com/cdn-cgi/l/email-protection#9fbc"> <span class="__cf_email__" data-cfemail="0d606c64614d696860626164636623627f6a">[email&#160;protected]</span></a>
                      </div>
                    </div>
                  </div>
                </div>
                <ul class="list-inline list-inline-sm footer-social-list">
                  <li><a class="icon fa fa-facebook" href="#"></a></li>
                  <li><a class="icon fa fa-twitter" href="#"></a></li>
                  <li><a class="icon fa fa-google-plus" href="#"></a></li>
                  <li><a class="icon fa fa-instagram" href="#"></a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-10 col-lg-6 col-xl-4 wow fadeInRight" data-wow-delay=".1s">
              <div class="box-footer">
                <h3 class="font-weight-normal">Questions? Contact Us</h3>
                <form class="rd-form rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="https://livedemo00.template-help.com/wt_prod-18959/bat/rd-mailform.php">
                  <div class="form-wrap">
                    <input class="form-input" id="contact-name-6" type="text" name="name" data-constraints="@Required"/>
                    <label class="form-label" for="contact-name-6">Name</label>
                  </div>
                  <div class="form-wrap">
                    <input class="form-input" id="contact-email-6" type="email" name="email" data-constraints="@Email @Required"/>
                    <label class="form-label" for="contact-email-6">E-mail</label>
                  </div>
                  <div class="form-wrap">
                    <label class="form-label" for="contact-message-6">Message</label>
                    <textarea class="form-input" id="contact-message-6" name="message" data-constraints="@Required"></textarea>
                  </div>
                  <button class="button button-block button-primary" type="submit">Send Message</button>
                </form>
              </div>
            </div>
            <div class="col-md-10 col-lg-6 col-xl-4 wow fadeInRight" data-wow-delay=".2s">
              <div class="box-footer">
                <h3 class="font-weight-normal">What We Offer</h3>
                <ul class="footer-list-category">
                  <li class="heading-4"><a href="#">DB Management<span></span></a></li>
                  <li class="heading-4"><a href="#">iOS/MacOS<span></span></a></li>
                  <li class="heading-4"><a href="#">Android Apps<span></span></a></li>
                  <li class="heading-4"><a href="#">Windows Apps<span></span></a></li>
                  <li class="heading-4"><a href="#">UX & UI<span></span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="container footer-bottom-panel wow fadeInUp">
          <!-- Rights-->
          <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span> <span>DreamSoft</span>. All rights reserved. <a href="privacy-policy.html" tppabs="https://livedemo00.template-help.com/wt_prod-18959/privacy-policy.html"> Privacy Policy.</a>
          </p>
        </div>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script data-cfasync="false" src="email-decode.min.js" tppabs="https://livedemo00.template-help.com/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="core.min.js" tppabs="https://livedemo00.template-help.com/wt_prod-18959/js/core.min.js"></script>
    <script src="script.js" tppabs="https://livedemo00.template-help.com/wt_prod-18959/js/script.js"></script>
  </body><!-- Google Tag Manager --><noscript><iframe src="ns.html-id=GTM-P9FT69" tppabs="https://www.googletagmanager.com/ns.html?id=GTM-P9FT69"height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'/*tpa=https://livedemo00.template-help.com/wt_prod-18959/gtm.js*/});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-P9FT69');</script><!-- End Google Tag Manager -->
</html>